/*Import Google fonts - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#000000b8, #fff);
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
/*for later*/
#menu-icon {
  font-size: 3.5rem;
  color: #fff;
  display: none;
}

.logo {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  color: #d724f7;
  background: linear-gradient(270deg, #fff, #d725f7);
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.8rem;
  color: #fff;
  margin-left: 4rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: #d725f7;
  border-bottom: 3px solid #d725f7;
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #fff, #d725f7);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #3f023f;
  border: none;
  text-wrap: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

/*home section*/

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: bolder;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8;
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
}


/* slider presentation*/
.card-wrapper {
  max-width: 1100px;
  margin: 240px 0 20px 15px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  /*width: 400px;*/
  display: block;
  background: #000;
  padding: 60px;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #13b1ef;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 6 / 13;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #fff;
  background: linear-gradient(#fff, #13b1ef);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.rainydays {
  color: #13b1ef;
  background: linear-gradient(#fff, #13b1ef);
}

.card-list .card-link .badge.project1 {
  color: #d724f7;
  background: linear-gradient(#fff, #ecaff7);
}

.card-list .card-link .badge.Exam1 {
  color: #f45607;
  background: linear-gradient(#fff, #f87d40);
}

.card-list .card-link .card-title {
  font-size: 24px;
  color: #fff;
  font-weight: bolder;
  margin-top: 60px;
}

.teaser-text {
  height: 200px;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
  margin-left: -50px;
  margin-right: -40px;
}

.view {
  color: #fff;
  font-size: smaller;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -40px;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #13b1ef;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 3px solid #13b1ef;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link .GitHub {
  height: 35px;
  width: 35px;
  color: #13b1ef;
  border-radius: 50%;
  margin: 30px 10px 5px;
  background: #000;
  cursor: pointer;
  border: 3px solid #13b1ef;
  transform: rotate(30deg);
  transition: 0.4s ease;
}

.card-list .card-link .GitHub img {
  height: 21px;
  width: 21px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #13b1ef;
  background: #000;
}

.card-list .card-link:hover .card-button {
  color: #13b1ef;
  background: #fff;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #13b1ef;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #13b1ef;
  margin-top: -35px;
  margin-left: -10px;
  margin-right: -10px;
}

@media (min-width: 425px) {

.teaser-text {
  min-width: 250px;
  font-size: 18px;
  margin-left: -40px;
}
}