/*Import Google fonts - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#000, #fff);
}

/* My introduction text*/

.wrapper{
  display: flex;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.wrapper .static-txt{
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  width: 100px;
  padding-top: 20px;
}

.wrapper .dynamic-txts{
  margin-left: 0px;
  height: 150px;
  line-height: 10px;
  overflow: hidden;
}

.dynamic-txts li{
  list-style: none;
  color: #13b1ef;
  font-size: 42px;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide 12s steps(3) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 35px;

}

.dynamic-txts li span::after{
  content: " ";
  position: absolute;
  left: 0;
  height: 60%;
  width: 80%;
  background: transparent;
  border-left: 2px solid #13b1ef;
  animation: typing 8s steps(9) infinite;
}

@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* slider presentation*/
.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  /*width: 400px;*/
  display: block;
  background: #000;
  padding: 60px;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #13b1ef;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 6 / 13;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #fff;
  background: linear-gradient(#fff, #13b1ef);
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.rainydays {
  color: #13b1ef;
  background: linear-gradient(#fff, #13b1ef);
}

.card-list .card-link .badge.project1 {
  color: #d724f7;
  background: linear-gradient(#fff, #ecaff7);
}

.card-list .card-link .badge.Exam1 {
  color: #f45607;
  background: linear-gradient(#fff, #f87d40);
}

.card-list .card-link .card-title {
  font-size: 24px;
  color: #fff;
  font-weight: bolder;
  margin-top: 60px;
}

.teaser-text {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -40px;
}

.view {
  color: #fff;
  font-size: smaller;
  margin-top: 20px;
  margin-left: -20px;
  margin-right: -40px;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #13b1ef;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 3px solid #13b1ef;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link .GitHub {
  height: 35px;
  width: 35px;
  color: #13b1ef;
  border-radius: 50%;
  margin: 30px 10px 5px;
  background: #000;
  cursor: pointer;
  border: 3px solid #13b1ef;
  transform: rotate(30deg);
  transition: 0.4s ease;
}

.card-list .card-link .GitHub img {
  height: 21px;
  width: 21px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #13b1ef;
  background: #000;
}

.card-list .card-link:hover .card-button {
  color: #13b1ef;
  background: #fff;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #13b1ef;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #13b1ef;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}